@page "{id:long}"
@model ServiceHost.Areas.Administration.Pages.Inventory.IncreaseModel
@{
}

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش گروه محصول</h4>
    </div>*@
<form method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Count" class="control-label">تعداد</label>
                    <input type="text" class="form-control" name="Count" asp-for="increaseinventory.Count" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="increaseinventory.Count" class="error"></span>
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">توضیحات</label>
                    <input type="text" class="form-control" name="Description" asp-for="increaseinventory.Description" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="increaseinventory.Description" class="error"></span>
                </div>









                @*<div class="form-group">
                    <label class="sr-only" for="ProductId" asp-for="editinventory.ProductId"></label>
                    <select class="form-control" name="ProductId" asp-for="editinventory.ProductId" asp-items="Model.products">
                        <option value="0">گروه محصول </option>
                    </select>
                </div>*@
            </div>
        </div>
    </div>
    <input type="hidden" class="form-control" name="InventoryId" asp-for="increaseinventory.InventoryId" value="@Model.increaseinventory.InventoryId">
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>