@page "{id:long}"
@model ServiceHost.Areas.Administration.Pages.Shop.Products.EditModel
@{
}
@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش گروه محصول</h4>
    </div>*@
<form method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">نام</label>
                    <input type="text" class="form-control" name="Name" asp-for="editProduct.Name" onchange="makeSlug('Name', 'Slug')">
                    
                    <span asp-validation-for="editProduct.Name" class="error"></span>
                </div>
                <div class="form-group">
                    <label for="Code" class="control-label">کد</label>
                    <input type="text" class="form-control" name="Code" asp-for="editProduct.Code">
                    <span asp-validation-for="editProduct.Code" class="error"></span>
                </div>


                <div class="form-group">
                    <label class="sr-only" for="CategoryId" asp-for="editProduct.CategoryId"></label>
                    <select class="form-control" name="CategoryId" asp-for="editProduct.CategoryId" asp-items="Model.productcategories">
                        <option value="0">گروه محصول </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Slug" class="control-label">اسلاگ</label>
                    <input type="text" class="form-control" name="Slug" asp-for="editProduct.Slug" id="Slug">

                    <span asp-validation-for="editProduct.Slug" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Picture" class="control-label">عکس</label>
                    <input type="file" class="form-control" name="Picture" asp-for="editProduct.Picture" accept="image/*">
                    <span asp-validation-for="editProduct.Picture" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PictureAlt" class="control-label">Alt</label>
                    <input type="text" class="form-control" name="PictureAlt" asp-for="editProduct.PictureAlt">
                    <span asp-validation-for="editProduct.PictureAlt" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PictureTitle" class="control-label">عنوان</label>
                    <input type="text" class="form-control" name="PictureTitle" asp-for="editProduct.PictureTitle">
                    <span asp-validation-for="editProduct.PictureTitle" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="Description" class="control-label">توضیحات</label>
                    <textarea class="form-control autogrow" name="Description" asp-for="editProduct.Description" onchange="fillField('Description', 'MetaDescription')"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editProduct.Description" class="error"></span>
                </div>
                <div class="form-group no-margin">
                    <label for="ShortDescription" class="control-label">توضیحات کوتاه</label>
                    <textarea class="form-control autogrow" name="ShortDescription" asp-for="editProduct.ShortDescription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editProduct.ShortDescription" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="KeyWords" class="control-label">کلمات کلیدی</label>
                    <input type="text" class="form-control" name="KeyWords" asp-for="editProduct.KeyWords">
                    <span asp-validation-for="editProduct.KeyWords" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label for="MetaDescription" class="control-label">توضیحات متا</label>
                    <textarea class="form-control autogrow" name="MetaDescription" asp-for="editProduct.MetaDescription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="editProduct.MetaDescription" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="form-control" name="Id" asp-for="editProduct.Id" value="@Model.editProduct.Id">
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>