@page "{id:long}"
@model ServiceHost.Areas.Administration.Pages.Shop.Slides.EditModel
@{
}
@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش گروه محصول</h4>
    </div>*@
<form method="post" enctype="multipart/form-data">
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Picture" class="control-label">عکس</label>
                    <input type="text" class="form-control" name="Picture" asp-for="editSlide.Picture" accept="image/*">
                    @*<span asp-validation-for="editProductPicture.Picture" class="error"></span>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PictureAlt" class="control-label">Alt</label>
                    <input type="text" class="form-control" name="PictureAlt" asp-for="editSlide.PictureAlt">
                    <span asp-validation-for="editSlide.PictureAlt" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="PictureTitle" class="control-label">عنوان</label>
                    <input type="text" class="form-control" name="PictureTitle" asp-for="editSlide.PictureTitle">
                    <input type="hidden"  name="Id" asp-for="editSlide.Id">
                    <span asp-validation-for="editSlide.PictureTitle" class="error"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <div class="form-group">
                    <label for="Heading" class="control-label">تیتر</label>
                    <input type="text" class="form-control" name="Heading" asp-for="editSlide.Heading">
                    <span asp-validation-for="editSlide.Heading" class="error"></span>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label for="Title" class="control-label">عنوان</label>
                    <input type="text" class="form-control" name="Title" asp-for="editSlide.Title">
                    <span asp-validation-for="editSlide.Title" class="error"></span>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label for="Text" class="control-label">متن</label>
                    <input type="text" class="form-control" name="Text" asp-for="editSlide.Text">
                    <span asp-validation-for="editSlide.Text" class="error"></span>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label for="link" class="control-label">لینک</label>
                    <input type="text" class="form-control" name="Btntext" asp-for="editSlide.Link">
                    <span asp-validation-for="editSlide.Link" class="error"></span>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label for="Btntext" class="control-label">متن دکمه</label>
                    <input type="text" class="form-control" name="Btntext" asp-for="editSlide.BtnText">
                    <span asp-validation-for="editSlide.BtnText" class="error"></span>
                </div>
            </div>
            <input type="hidden"  name="Id" asp-for="editSlide.Id">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>